@using CaseloadManager.Helpers

@{
    ViewBag.Title = "My Upcoming Event";
}

<h2>Upcoming Events</h2>
<div class="clear-empty">
</div>
 
<div id="grid">
</div>
<script type="text/javascript" src="../../Scripts/Events/Index.js?scriptVersion=@AppSettings.ScriptVersion"></script>