@model IEnumerable<CaseloadManager.Models.DisabilityCategoryModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form id="CategoriesForm">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="disabilityCategories" class="tablesorter">
        <thead>
            <tr>
                <th>Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<script src="../../Scripts/Admin/Index.js?ScriptVersion=@CaseloadManager.Helpers.AppSettings.ScriptVersion"></script>
