@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully. <br /><br />
    <a  href='@Url.Content("~/Student")'>Click here to go to your caseload</a>
</p>
