@model CaseloadManager.Models.StudentModel
<form id="noParentForm">
    <h2>No Guardians added for @Model.FullName </h2>
    <br />
    <i>Click <a href="javascript:SelectParentsTab();">here</a> to add a parent.</i>
</form>