<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>https://web711.discountasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>myappdemodomain.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>myappdemodo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationServices" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=LECOMPUTER;Initial Catalog=CaseloadManagerDev;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LECOMPUTER;Initial Catalog=CaseloadManagerDev;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LECOMPUTER;Initial Catalog=CaseloadManagerDev;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Context" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=LECOMPUTER;Initial Catalog=CaseloadManagerDev;Integrated Security=True;Application Name=EntityFramework" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Context_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LECOMPUTER;initial catalog=CaseloadManagerDev;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LECOMPUTER;Initial Catalog=CaseloadManagerDev;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>