@{
    ViewBag.Title = "About the Caseload manager";
}
<h2>
    About</h2>
<p>
    Caseload Manager is a <i><b>secure</b>, fast, and easy to use</i> application to
    help teachers manage special education student caseloads.
</p>
<p>
    Currently this site is free to use by anyone. In the future some new features may
    be added for a nominal fee. If you find the site useful, or not, please do share
    your
    @Html.ActionLink("feedback", "Feedback", "Home") with us.
</p>
